.bottom-info {
  padding: 80px 33px 43px;

  @include mq($from: tablet) {
    padding: 120px 33px 60px;
  }
  @include mq($from: desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    justify-content: center;
    padding: 120px 164px 60px;
  }
}
