.country-boxes {
  display: grid;
  row-gap: 40px;
  justify-content: center;

  @include mq($from: tablet) {
    grid-template-columns: repeat(auto-fill, 264px);
    gap: 75px;
  }
}

.country-box {
  width: 264px;
  height: 336px;
  background: #2b3844;
  border-radius: 5px;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.0294384);
  // transition: background 0.3s ease;

  .country-flag {
    display: grid;
    justify-content: center;
    width: 264px;
    height: 160px;

    img {
      width: 264px;
      height: 160px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: none;
      border-bottom-left-radius: none;
    }
    .country-loader {
      width: 200px;
      height: 200px;
      background-image: url('~@/assets/images/country-loader-dark.gif');
      background-repeat: no-repeat;
      background-size: 200px;
    }
  }

  .country-text {
    padding: 24px;
  }

  .country-name {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
  }
  .country-info {
    display: grid;
    row-gap: 8px;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;

    span {
      font-weight: 600;
    }
  }
}

.country-box-content {
  cursor: pointer;
}

.map-placeholder {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0.2;
}

.light-mode {
  .country-box {
    background: #fff;

    .country-loader {
      background-image: url('~@/assets/images/country-loader-light.gif');
    }
  }
}
