.features {
  .intro {
    .intro-text {
      padding: 51px 24px 57px 29px;
    }
  }
  .bottom-info {
    padding: 63px 33px 38px;

    .feature-box:nth-child(n + 2) {
      margin-bottom: 53px;
    }
  }

  @include mq($from: tablet) {
    .intro {
      height: 490px;
      .intro-text {
        height: 100%;
        padding: 145px 50px 57px 54px;

        &::before {
          top: 175px;
          left: 0;
          width: 6px;
          height: 143px;
        }
      }
      .intro-image {
        height: 100%;
      }
    }
    .bottom-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 100px 33px 38px;

      .feature-box {
        padding: 0 6px;

        &:last-child {
          margin-top: 0;
        }
        &:nth-child(n + 4) {
          margin-bottom: 75px;
        }

        .feature-box-image {
          height: 88px;
        }

        &:nth-child(3) {
          .feature-box-image {
            height: 72px;
          }
        }
      }
    }
  }
  @include mq($from: desktop) {
    .intro {
      .intro-text {
        padding: 145px 110px 57px 113px;
      }
    }
    .bottom-info {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 0;
      padding: 151px 160px 70px;

      .feature-box {
        margin-bottom: 93px;

        &:nth-child(n + 2) {
          margin-bottom: 93px;
        }
        &:nth-child(n + 4) {
          margin-bottom: 93px;
        }
        &:nth-child(3) {
          .feature-box-image {
            height: 64px;
          }
        }
      }
    }
  }
}
