.home {
  min-height: 100vh;
  color: #fff;
  background-color: #202c36;
  transition: background, color 0.3s ease;

  &.light-mode {
    color: #111517;
    background: #fafafa;
  }
  &.loading {
    height: 100%;
  }
  .no-results {
    display: grid;
    justify-content: center;
    margin-top: 25px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    svg {
      margin-bottom: 15px;
      font-size: 100px;
      opacity: 0.4;
    }

    @include mq($from: desktop) {
      font-size: 16px;
      line-height: 22px;

      svg {
        font-size: 100px;
      }
    }
  }
}
