.pricing {
  .intro {
    .intro-text {
      padding: 51px 24px 57px 29px;
    }
  }
  .plans {
    display: grid;
    justify-content: center;
    padding: 58px 28px 0 29px;

    .plans-switcher {
      justify-self: center;
      width: 255px;
    }

    .plan-boxes {
      display: grid;
      row-gap: 24px;
      margin-top: 32px;
      margin-bottom: 52px;
      .plan-box {
        padding: 56px 25px 40px;
        color: black;
        text-align: center;
        background-color: #f5f5f5;
        .plan-title {
          font-size: 24px;
          font-weight: 700;
          line-height: 25px;
        }
        .plan-text {
          margin-top: 19px;
          font-size: 15px;
          font-weight: 400;
          line-height: 25px;
          opacity: 0.6;
        }
        .plan-price {
          margin-top: 37px;
          font-size: 40px;
          font-weight: 700;
          line-height: 48px;
          letter-spacing: 4.17px;
        }
        .plan-frequency {
          margin-top: 2px;
          font-size: 15px;
          font-weight: 400;
          line-height: 25px;
        }
        .plan-button {
          margin-top: 40px;
          button {
            width: 245px;
          }
        }

        &.accent {
          position: relative;
          padding: 48px 25px;
          color: #fff;
          background-color: #000;
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 6px;
            content: '';
            background-image: $accent;
            background-size: 100% 6px;
          }
        }
      }
    }
  }
  .plans-features {
    padding: 0 27px 40px;
    h2 {
      display: none;
    }
    h3 {
      padding-bottom: 23px;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-bottom: 1px solid #000;
    }
    table {
      width: 100%;
      margin-top: 20px;
      thead {
        display: none;
      }
      tbody {
        span {
          display: block;
          margin-bottom: 5px;
          font-size: 10px;
          font-weight: bold;
          line-height: 13px;
          color: #000;
          text-transform: uppercase;
          letter-spacing: 1.66667px;
          opacity: 0.5;
        }
        tr {
          position: relative;
          display: grid;
          grid-template-rows:
            [row1] auto
            [row2] auto;
          grid-template-columns:
            [center] auto
            [col1] 1fr
            [col2] 1fr
            [col3] 1fr;
          padding-bottom: 14px;
          margin-bottom: 23px;
          border-bottom: 1px solid #dfdfdf;
          th {
            position: absolute;
            grid-row: row1;
            grid-column: auto;
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            text-transform: uppercase;
            letter-spacing: 2px;
          }
          td {
            grid-row: row2;
            margin-top: 31px;
            &:nth-child(2) {
              grid-column: col1;
            }
            &:nth-child(3) {
              grid-column: col2;
            }
            &:nth-child(4) {
              grid-column: col3;
            }
          }
        }
      }
    }
  }

  @include mq($from: tablet) {
    .intro {
      height: 490px;
      .intro-image {
        height: 490px;
      }
      .intro-text {
        padding: 146px 60px 50px 54px;

        &::before {
          top: 173px;
          left: 0;
          width: 6px;
          height: 144px;
        }

        h1 {
          margin-bottom: 20px;
        }
      }
    }
    .plans {
      padding: 106px 40px 0 40px;

      .plan-boxes {
        .plan-box {
          display: grid;
          grid-template-rows:
            [row1] auto
            [row2] auto
            [row3] auto;
          grid-template-columns:
            [col1] 1fr
            [col2] 1fr;
          padding: 39px 43px 40px 40px;

          &.accent {
            padding: 39px 43px 40px 40px;
            &::before {
              position: absolute;
              top: 0;
              left: 0;
              width: 6px;
              height: 100%;
              content: '';
              background-image: $accent;
              background-size: 6px 100%;
            }
          }

          .plan-title {
            grid-row: row1;
            grid-column: col1;
            text-align: left;
          }
          .plan-text {
            grid-row: row2;
            grid-column: col1;
            padding-right: 20px;
            margin: 0;
            margin-top: -5px;
            text-align: left;
          }
          .plan-button {
            grid-row: row3;
            grid-column: col1;
            margin-top: 30px;
            text-align: left;

            button {
              width: 270px;
            }
          }
          .plan-price {
            grid-row: row1;
            grid-column: col2;
            margin: 0;
            margin-top: 3px;
            text-align: right;
          }
          .plan-frequency {
            grid-row: row2;
            grid-column: col2;
            margin: 0;
            margin-right: 13px;
            text-align: right;
          }
        }
      }
    }
    .plans-features {
      padding: 27px 41px 113px 42px;

      h2 {
        display: block;
        text-align: center;
      }
      h3 {
        display: none;
      }
      table {
        margin-top: 63px;
        border-collapse: collapse;

        thead {
          display: table-header-group;
          tr {
            th {
              width: 140px;
              padding-bottom: 23px;
              padding-left: 10px;
              // width: 100%;
              font-size: 12px;
              font-weight: 700;
              line-height: 16px;
              text-transform: uppercase;
              letter-spacing: 2px;
              border-bottom: 1px solid #000;

              &:first-child {
                width: 260px;
                padding-left: 21px;
                text-align: left;
              }
            }
          }
        }
        tbody {
          span {
            display: none;
          }
          tr {
            display: table-row;
            th,
            td {
              padding-top: 20px;
              padding-bottom: 18px;
              border-bottom: 1px solid #dfdfdf;
            }
            th {
              position: relative;
              display: table-cell;
              padding-left: 21px;
              text-align: left;
            }
            td {
              position: relative;
              display: table-cell;
              padding-left: 10px;
              text-align: center;
            }
          }
        }
      }
    }
  }
  @include mq($from: desktop) {
    .intro {
      .intro-text {
        padding: 146px 110px 50px 112px;

        h1 {
          margin-bottom: 22px;
        }
      }
    }
    .plans {
      padding: 114px 40px 0 40px;

      .plans-switcher {
        margin-left: -19px;
      }
      .plan-boxes {
        grid-template-columns: 350px 350px 350px;
        column-gap: 30px;
        margin-top: 40px;

        .plan-box {
          display: block;
          height: 407px;
          padding: 56px 43px 39px 40px;
          margin-top: 32px;

          &.accent {
            position: relative;
            height: 470px;
            padding: 88px 35px 70px;
            margin-top: 0;
            color: #fff;
            background-color: #000;
            &::before {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 6px;
              content: '';
              background-image: $accent;
              background-size: 100% 6px;
            }
          }

          .plan-title {
            font-size: 24px;
            font-weight: 700;
            line-height: 25px;
            text-align: center;
          }
          .plan-text {
            padding: 0;
            margin-top: 19px;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
            opacity: 0.6;
          }
          .plan-price {
            margin-top: 37px;
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            text-align: center;
            letter-spacing: 4.17px;
          }
          .plan-frequency {
            margin: 0;
            margin-top: 2px;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
          }
          .plan-button {
            margin-top: 40px;
            text-align: center;
            button {
              width: 270px;
            }
          }
        }
      }
    }
    .plans-features {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 75px 41px 162px 42px;
      table {
        width: 731px;
        margin-top: 21px;

        thead {
          tr {
            th:first-child {
              padding-left: 24px;
            }
          }
        }
        tbody {
          tr {
            th {
              width: 305px;
              padding-left: 24px;
            }
            td {
              width: 140px;
            }
          }
        }
      }
    }
  }
}
