.read-story {
  position: relative;
  width: 100%;
  height: 375px;
  padding: 238px 32px 0 33px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-24px);
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6px;
      content: '';
      background-image: $accent;
      background-size: 100% 6px;
    }
  }

  .read-story-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
  }
  .read-story-author {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
  }
  .line {
    margin: 17px 0 9px;
    filter: invert(1);
  }

  &.has-date {
    padding: 216px 39px 0 42px;

    .read-story-date {
      margin-bottom: 6px;
      font-size: 13px;
      font-weight: 400;
      line-height: 17px;
    }
  }
}
.read-story-container {
  @include mq($from: tablet) {
    display: grid;
    grid-template-rows: 500px 500px;
    grid-template-columns: 389px 379px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    .read-story {
      width: unset;
      height: unset;
      padding: 362px 43px 0 42px;

      .read-story-title {
        margin-bottom: 3px;
      }
    }
  }
  @include mq($from: desktop) {
    grid-template-rows: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
