.stories {
  .intro {
    .intro-image {
      width: 100%;
      height: 317px;
      background-size: cover;
    }
    .intro-text {
      padding: 46px 28px 36px 29px;
      &::before {
        background: none;
      }

      .featured-author {
        margin-top: -5px;
      }
    }
  }

  @include mq($from: tablet) {
    .intro {
      grid-template-columns: 0;
      .intro-image {
        width: 100%;
        height: 650px;
      }
      .intro-text {
        width: 760px;
        padding: 121px 335px 36px 39px;
        .featured-author {
          margin-top: -13px;
        }
        .intro-text-description {
          margin-bottom: 11px;
        }
      }
    }

    .stories-container {
      display: grid;
      // grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;

      .read-story {
        height: 500px;
        padding: 340px 41px 0 41px;

        &:hover {
          // margin-top: 0;
        }
      }
    }
  }
  @include mq($from: desktop) {
    .intro {
      grid-template-areas: 'text image';
      grid-template-columns: 0;
      .intro-text {
        width: 500px;
        padding: 121px 0 0 112px;
      }
      .intro-image {
      }
    }
    .stories-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .read-story {
      }
    }
  }
}
